body {
  background: #171717;
  padding: 1rem;
  height: calc(100vh - 2rem);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 800px;
  grid-template-rows: 1fr;
  gap: 1rem;
}

button {
  background: #ea580c;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  transition: 150ms;
  margin-right: 0.5rem;
}

button:hover {
  background: #9a3412;
}

button:disabled {
  opacity: 0.5;
}

#editor {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
}

#output {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#game,
#console {
  border-radius: 4px;
  background-color: #1e1e1e;
}

#game {
  height: 450px;
  overflow: none;
}

#console {
  flex-grow: 1;
  color: white;
  padding: 1rem;
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
  overflow: auto;
  height: 0;
}

#console-content {
  text-wrap: wrap;
}
