# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

/tools/*/target
/tools/*/Cargo.lock

# Copied from /playground_lib when building images
/images/playground_lib
